{{!-- BEGIN-SNIPPET mdc-toolbar__normal --}}
{{#mdc-toolbar as |toolbar|}}
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      {{toolbar.menu}}
      <span class="mdc-toolbar__title">Title</span>
    </section>
  </div>
{{/mdc-toolbar}}
{{!-- END-SNIPPET --}}