.my-bordered-list {
  /* remove the side padding. we'll be placing it around the item instead. */
  padding-right: 0;
  padding-left: 0;
}
.my-bordered-list .mdc-list-item {
  /* Add the list side padding padding to the list item. */
  padding: 0 16px;
  /* Add a border around each element. */
  border: 1px solid rgba(0, 0, 0, .12);
}
/* Ensure adjacent borders don't collide with one another. */
.my-bordered-list .mdc-list-item:not(:first-child) {
  border-top: none;
}

.demo {
  padding: 16px;
  .item {
    margin: 8px 0;
  }
}

.demo-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 75%;
  box-sizing: border-box;
}

.demo-page {
  @extend .demo-content;
  background: lightgray;
  height: 400px;
  width: 350px;
}

#main-container {
  display: flex;
}

#main-page {
  padding: 16px;
  width: -webkit-calc(100% - 240px);
  width: -moz-calc(100% - 240px);
  width: calc(100% - 240px);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
