@import "ember-material-components";

.demo {
  padding: 16px;
  .item {
    margin: 8px 0;
  }
}

.demo-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 75%;
  box-sizing: border-box;
}

#main-container {
  display: flex;
}

#main-page {
  padding: 16px;
  width: -webkit-calc(100% - 240px);
  width: -moz-calc(100% - 240px);
  width: calc(100% - 240px);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
