<div class="mdc-dialog__surface">
  {{yield (hash footer-action=(component 'mdc-button' class='mdc-dialog__footer__button mdc-dialog__action'))}}
</div>
<div class="mdc-dialog__backdrop" {{action click-backdrop}}></div>