{{yield (hash
  tab=(component 'mdc-tab' mdcClass=null isIconTabWithText=isIconTabBarWithText)
  icon=(component 'mdc-icon' class='mdc-tab__icon' ariaHidden=isIconTabBarWithText)
)}}
<span class="mdc-tab-bar__indicator"></span>