<div class="demo">
  <h1 class="mdc-typography--title">FormField</h1>
  <section>
    <div class="item">
      {{#mdc-form-field}}
        {{mdc-checkbox inputId="my-checkbox"}}
        <label for="my-checkbox">Checkbox Label</label>
      {{/mdc-form-field}}
    </div>
    <div class="item">{{code-snippet name="mdc-formfield__default.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">FormField Input</h1>
  <section>
    <div class="item">
      {{#mdc-form-field input=mdcRadio isEndAligned=true}}
        {{mdc-radio inputId="my-radio" initialize=(action (mut mdcRadio))}}
        <label for="my-radio">Radio Label</label>
      {{/mdc-form-field}}
    </div>
    <div class="item">{{code-snippet name="mdc-formfield__input.hbs"}}</div>
  </section>
</div>