<div class="demo">
  <h1 class="mdc-typography--title">Icon Toggle</h1>
  <section>
    <div class="item">{{mdc-icon-toggle "favorite" offIcon="favorite_border"}}</div>
    <div class="item">{{code-snippet name="mdc-icon-toggle__default.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Disabled Icon Toggle</h1>
  <section>
    <div class="item">{{mdc-icon-toggle "favorite" offIcon="favorite_border" isDisabled=true}}</div>
    <div class="item">{{code-snippet name="mdc-icon-toggle__disabled.hbs"}}</div>
  </section>
</div>
