<p>{{mdc-linear-progress isReversed=true isIndeterminate=true}}</p>
<p>{{mdc-linear-progress isIndeterminate=true}}</p>
<p>{{mdc-linear-progress progress=0.7}}</p>
<p>{{mdc-linear-progress progress=0.3 buffer=0.5}}</p>