<p>{{mdc-slider min=0 value=50 max=100}}</p>
<p>{{mdc-slider min=0 max=100 value=30 isDiscrete=true}}</p>
<p>{{mdc-slider min=0 max=100 value=40 isDiscrete=true hasTrackMarkers=true step=5}}</p>
<p>{{mdc-slider min=0 max=100 value=90 isDisabled=true}}</p>
